.github-event {
  position: relative;
  padding: 0 0 1em 45px;
}

.github-event .pull-info {
  display: inline-block;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 12px;
  color: rgba(0,0,0,0.666);
  background: rgba(216, 216, 216, 0.5);
  border-radius: 3px;
}

.github-event .body {
  padding: 1em 0 0;
  overflow: hidden;
  font-size: 14px;
  border-bottom: 0 none;
}

.github-event .markdown-body pre {
  background: #002b36;
  color: #839496;
  padding: 0.5rem;
  max-height: 25em;
  overflow: auto;
}

.github-event .octicon {
  color: rgb(187, 187, 187);
}

.github-event .mega-octicon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 32px;
  padding: 3px;
}

.github-event.simple .body > .octicon {
  position: absolute !important;
  left: 11px;
  width: 16px;
  height: 16px;
}

.github-event .time {
  font-size: 12px;
  line-height: 1.4;
  color: rgb(187, 187, 187);
}

.github-event.simple .time,
.github-event.simple .title {
  display: inline-block;
}

.github-event:not(.simple) .title {
  font-weight: bold;
}

.github-event .gravatar {
  float: left;
  margin-right: 0.6em;
  line-height: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.github-event .commits {
  display: table-cell;
}

.github-event .commits ul {
  padding-left: 0;
  margin-bottom: 0;
}

.github-event .commits li {
  line-height: 1;
  margin-top: 0.15em;
  list-style-type: none;
}

.github-event .commits li code {
  max-width: 9ch;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0;
  white-space: nowrap;
  line-height: 21px;
  font-size: 12px;
}

.github-events .commits li img {
  margin: 0 1px 0 0;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.github-event .commits li .message {
  display: inline-block;
  max-width: 390px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-top: 2px;
  vertical-align: top;
  line-height: 1.3;
}

.github-event blockquote {
  margin: 0;
}

.github-event div.message,
.github-event li blockquote {
  display: inline;
  font-size: 13px;
  color: rgb(102, 102, 102);
}
